html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);

  font-family: 'Roboto', sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

header > .container {
  border-bottom: 1px solid #ECECEC;
  padding-top: 25px;
  padding-bottom: 25px;
}

footer > .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* logo */
.logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  text-decoration: none;
}

.logo-head {
  color: #000000;
}

.logo-foot {
  color: var(--primary-background-color);
}

.logo:hover,
.logo:focus,
.logo:hover span,
.logo:focus span {
  color: var(--primary-text-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Site nav */

.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.cont-nav a {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
}

.list .cont:hover,
.list .cont:focus {
  color: var(--accent-color);
}

/* hero */

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero,
.foot {
  background-color: #2f303a;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primary-background-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}

/*button*/

.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 13px 32px 7px;
  min-width: 216px;
  text-align: center;

  color: var(--primary-background-color);
  background-color: var(--accent-color);
  /* border-color: transparent; */
  font-family: inherit;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--accent-color);
  background-color: var(--primary-background-color);
}

/* section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.features {
  padding-bottom: 0;
}

.section.specialization {
  padding-top: 33px;
  padding-bottom: 155px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: #212121;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.feature-list .title,
.team-list .title,
.portfolio-list .title {
  color: var(--title-text-color);
}

.feature-list .title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-list .text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.team-list .title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-list .position {
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

/* filter */

.filter-list {
  padding-bottom: 50px;
}

.filter {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  border-color: transparent;
  font-family: inherit;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  cursor: pointer;
}

.filter:hover,
.filter:focus {
  color: var(--primary-background-color);
  background-color: var(--accent-color);
}

.card {
  padding: 60px 24px 20px;
  border-left: 1px solid #EEEEEE;
  border-bottom:  1px solid #EEEEEE;
  border-right:  1px solid #EEEEEE;

  width: 370px;
  }

.portfolio-list .item {
  text-decoration: none;
}

.portfolio-list .title {
  margin-top: 0;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
}

.portfolio-list .type {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);

  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* footer */
.address {
  color: var(--primary-background-color);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-foot .cont {
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  text-decoration: none;
}

.address-foot {
  font-style: normal;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;

white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

